@model IEnumerable<FreedomTransportation.Models.Trips>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PickUpTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropOffTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfTheCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PickUpTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropOffTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfTheCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverName)
        </td>
        
    </tr>
}

</table>
