@model IEnumerable<FreedomTransportation.Models.FutureSchedule>

@{
    ViewBag.Title = "AssignRides";
}

<h2>AssignRides</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropoffAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropoffAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PickUpId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PickUpId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PickUpId })
        </td>
    </tr>
}

</table>
