@model IEnumerable<FreedomTransportation.Models.Driver>

@{
    ViewBag.Title = "DriverTodayPickups";
}

<h2>DriverTodayPickups</h2>

<table class="table table-hover">
    <tr class="table-primary">


        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.DriversLicense)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        
        <th scope="col">
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.TripsId)
        </th>
        <th scope="col">
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr class="table-info">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriversLicense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripsId)
                </td>
                
            </tr>
        }
    }
</table>
<div>
    <input type="button" class="btn btn-success" value="View All Pickups On Map" onclick="location.href='@Url.Action("SeeCustomersOnMap", "Drivers")'" />
</div>
<br /><br /><br /><br /><br />