@model IEnumerable<FreedomTransportation.Models.SchedulingRide>

@{
    ViewBag.Title = "Index";
}

<h2>List Of Rides</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PickupAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropoffAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropoffCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropoffState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropoffZipCode)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PickupAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickupZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropoffAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropoffCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropoffState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropoffZipCode)
        </td>
        
       
    </tr>
}

</table>
