@model FreedomTransportation.Models.SchedulingRide

@{
    ViewBag.Title = "TripInfo";
}

<h2>TripInfo</h2>

<div>
    <h4>SchedulingRide</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PickupAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropoffAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropoffAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropoffCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropoffCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropoffState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropoffState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropoffZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropoffZipCode)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Calculating Route (Mileage)</h2>
        <p>This demonstrates getting and displaying the distance between two points</p>
        <div>
            <div>
                Travel From : <input id="travelfrom" type="text" name="name" value="" />
                To : <input id="travelto" type="text" name="name" value="Milwaukee, WI, USA" />
                <input type="button" value="Get Route" onclick="GetRoute()" />
            </div>
            <div>
                <div id="dvDistance">   </div>
            </div>
        </div>
        <div id="dvMap" style="min-height:500px"></div>
    </div>
    <div> Add Destination</div>
    <div>
        <input id="travelto" type="text" name="name" value="Oving, UK" />
        <input type="button" value="Add" onclick="PushDestination()" />
        <a href="#" onclick="setDestination('Tagmere, UK')">Tagmere, UK. </a>
        <a href="#" onclick="setDestination('Bosham, UK')">Bosham, UK</a>
    </div>
    <div id="destinations"></div><br />
    Source : <input id="travelfrom" type="text" name="name" value="Chichester, UK" />

    <input type="button" value="Calculate" onclick="GetRoute()" />
    <p></p>
    <br />
    <div id="dvDistance">
        <table id="tblResults" border="1" cellpadding="10">
            <tr>
                <th> Start </th>
                <th> End </th>
                <th> Distance </th>
                <th> Duration </th>
            </tr>
        </table>

    </div>

    <div id="dvMap" style="min-height:500px"></div>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { Id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" class="btn btn-success" value="Pay Now" onclick="location.href='@Url.Action("MakeAPayment", "SchedulingRides")'" />&nbsp;
        @*// <input type="submit" value="Pay Now" class="btn btn-success" />*@
    </div>
</div>

@section scripts{
//Insert the javascript code here...
}